
body 
{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    user-select: none;
    background: #212425;
}

.container 
{   margin-left: 1.8em;
    padding: 50px;
    border-radius: 80px;
    box-shadow: 13px 13px 20px black,
              -13px -13px 20px black; 
}

.content 
{
    width: 100%;
    margin-top: 1.7em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.row button 
{
    width: 80px;
    height: 50px;
    font-size: 30px;
    border: none;
    outline: none;
    margin: 5px;
    border-radius: 50px;
    transition: .1s;
    box-shadow: 5px 5px 8px black,
               -5px -5px 8px black;
}

.row button:hover 
{
    background-color: gray;
   
}

.display #screen 
{
    margin-bottom: .5em;
    width: auto;
    height: 70px;
    font-size: 36px;
    outline: none;
    border: none;
    text-align: right;
    padding-right: .5em;
    background: #ecf0f3;
    border-radius: 50px;
}

#res 
{
    width: 120px;
    height: 50px;
    background: #41c167;
    color: #fff;

}

#ac 
{
    font-size: 25px;
    background: #34badf;
    color: #fff;
}

#del 
{
    font-size: 25px;
    background: #e9414f;
    color: #e9eee9;
}
